.menu {
  background-color: #fff;
  background-image: url(/images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.menu__title {
  max-width: 780px;
  text-align: center;
  margin: 0 0 24px;
  font-family: Inter, Arial, san-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000;
}

.menu__subtitle {
  max-width: 780px;
  text-align: center;
  margin: 0 0 100px;
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.menu__cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
